<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de Sensores</title>
    <script src="websocket.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="center">
        <div>
            <h1>Monitoramento de Sensores</h1>
            <p><strong>Temperatura:</strong> <span id="temp">Aguardando...</span> °C</p>
            <p><strong>Umidade:</strong> <span id="hum">Aguardando...</span> %</p>
        </div>
    </div>
</body>
</html>
